*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
     background-image: linear-gradient(to right ,#b92b27 10% ,#1565C0 87%);#b92b27 #1565C0
    padding: 0 !important ;
    
}
.navbar-brand
{
    height: 60px;
    padding: 15px;
    margin-top: 10px;
    font-size: 60px;
}

.logo
{
    opacity: 1.0;
    height: 25px;
    width: auto;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    text-align: right;
}

/* website banner */

#banner
{
   background-image: linear-gradient(to right ,#eecda3  10% , #ef629f 87%);
    color: #000;
    padding-top: 10% ;
    padding-bottom: 3%;

text-align: justify;

 
}

.promo-title
{
font-family: Lucida Console;
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
}

.promo-para
{
font-family: Lucida Console;
    font-size: 20px;
}

.image-fluid
{
    
    padding-right: 100
}

/*--------Services--------------*/

#services
{
    padding: 60px;
}

.services
{
    padding: 20px;
}

.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.service-image
{
   width: 300px;
    margin-top: 5px;
    padding-right: px;
}

.title::before
{
    content: '';
    background: #b92b27;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after
{
    content: '';
    background:#1565C0;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
 background-image: linear-gradient(to right ,#eecda3  10% , #ef629f 87%);
}

/*---------------------Menu -------------*/

#Menu
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 50px;
}
#flavour
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 50px;
}
.about-title
{
 padding-top: 1px;
    padding-bottom: 1px;
    font-size: 40px;
    font-weight:500;
    margin-top: 5%; 
}
#about-us
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 80px;
}


#about-us ul li 
{ 
margin: 1px ;
font-size: 20px;
}

.about-image
{
    padding-top: 0%;
}


/*---------------------products-------------*/


#sauce
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 50px;
}
#top
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 50px;
}


#products
{
    padding: 60px 0;
}

#products .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image:url("assets/fff.png"), linear-gradient(to right ,#eecda3  10% , #ef629f 87%);

}

#products .row
{
    margin-top: 50px;
}


#products .card
{
    width: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}

/*---------------Reviews-------------*/

#Reviews
{
    background-color: #f8f9fa;
    padding-top: 60px;
    padding-bottom: 100px;
}

#Reviews.row
{
    margin-top: 50px;
    padding: 30px;
}

.Reviews
{
    border-left: 5px solid teal ;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

/*---------------contact us-------------*/

#contact
{ padding-top: 60px;
    padding-bottom: 5px;
}

#contact p 
{
    font-size: 36px;
    font-weight:600;
    margin-bottom: 30px;
}

.social-icons img
{
    width: 60px;
    margin: 10px;
    transition: 0.5s;
}

.social-icons a:hover img
{
    transform:translateY(-20px);
}

/*--------------- footer -------------*/

#footer
{
  background-image: linear-gradient(to right ,#eecda3  10% , #ef629f 87%);
    color: #000;
}

.footer-box
{
    padding: 5px;
    margin-left: 100px;
}
.footer-box img
{
    width: 30px;
    margin-bottom: px;
}
.footer-title
{
 font-size: 30px;
}


.copyright
{
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: center;
}